@{
    ViewBag.Title = "Widgets";
    ViewBag.PageTitle = "Advance UI";
    ViewBag.pTitle = "Widgets";
}

<link href="~/assets/libs/jsvectormap/jsvectormap.min.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-12">
        <h5 class="text-decoration-underline mb-3 pb-1">Tile Boxs</h5>
    </div>
</div>
<!-- end row-->

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body p-3 d-flex gap-3">
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-body-secondary text-secondary rounded fs-3xl">
                            <i class="ti ti-brand-facebook"></i>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-2 d-flex align-items-center">Facebook <span class="badge bg-success-subtle text-success ms-auto"><i class="ti ti-arrow-up-right"></i> 2.59%</span></p>
                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="354620">354,620</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body p-3 d-flex gap-3">
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-body-secondary text-danger rounded fs-3xl">
                            <i class="ti ti-brand-instagram"></i>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-2 d-flex align-items-center">Instagram <span class="badge bg-success-subtle text-success ms-auto"><i class="ti ti-arrow-up-right"></i> 4.05%</span></p>
                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="245631">245,631</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body p-3 d-flex gap-3">
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-body-secondary text-info rounded fs-3xl">
                            <i class="ti ti-brand-twitter"></i>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-2 d-flex align-items-center">Twitter <span class="badge bg-danger-subtle text-danger ms-auto"><i class="ti ti-arrow-down-right"></i> 1.67%</span></p>
                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="154832">154,832</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body p-3 d-flex gap-3">
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-body-secondary text-body rounded fs-3xl">
                            <i class="ti ti-world"></i>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-2 d-flex align-items-center">Website <span class="badge bg-success-subtle text-success ms-auto"><i class="ti ti-arrow-up-right"></i> 3.12%</span></p>
                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="489012">489,012</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-xxl col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-primary-subtle text-primary fs-3xl rounded">
                        <i class="ph ph-briefcase"></i>
                    </div>
                </div>
                <h4>$<span class="counter-value" data-target="368.24">0</span>M </h4>
                <p class="text-muted mb-4">Annual Profit</p>
                <p class="text-muted mb-0"><span class="badge bg-success-subtle text-success"><i class="bi bi-arrow-up"></i> 4.65%</span> vs last month</p>
            </div>
            <div class="progress progress-sm rounded-0" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 76%"></div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-secondary-subtle text-secondary fs-3xl rounded">
                        <i class="ph ph-wallet"></i>
                    </div>
                </div>
                <h4>$<span class="counter-value" data-target="1454.71">0</span>k </h4>
                <p class="text-muted mb-4">Daily average income</p>
                <p class="text-muted mb-0"><span class="badge bg-success-subtle text-success"><i class="bi bi-arrow-up"></i> 1.33%</span> vs last month</p>
            </div>
            <div class="progress progress-sm rounded-0" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-secondary" style="width: 88%"></div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-danger-subtle text-danger fs-3xl rounded">
                        <i class="bi bi-broadcast"></i>
                    </div>
                </div>
                <h4><span class="counter-value" data-target="33.37"></span>%</h4>
                <p class="text-muted mb-4">Lead Conversations</p>
                <p class="text-muted mb-0"><span class="badge bg-success-subtle text-success"><i class="bi bi-arrow-up"></i> 2.69%</span> vs last month</p>
            </div>
            <div class="progress progress-sm rounded-0" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: 18%"></div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-success-subtle text-success fs-3xl rounded">
                        <i class="ph ph-rocket-launch"></i>
                    </div>
                </div>
                <h4><span class="counter-value" data-target="648"></span></h4>
                <p class="text-muted mb-4">Campaign Sent</p>
                <p class="text-muted mb-0"><span class="badge bg-danger-subtle text-danger"><i class="bi bi-arrow-down"></i> 0.78%</span> vs last month</p>
            </div>
            <div class="progress progress-sm rounded-0" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 49%"></div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-warning-subtle text-warning fs-3xl rounded">
                        <i class="ph ph-heartbeat"></i>
                    </div>
                </div>
                <h4><span class="counter-value" data-target="1742"></span></h4>
                <p class="text-muted mb-4">Annual Deals</p>
                <p class="text-muted mb-0"><span class="badge bg-success-subtle text-success"><i class="bi bi-arrow-up"></i> 7.93%</span> vs last month</p>
            </div>
            <div class="progress progress-sm rounded-0" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-warning" style="width: 83%"></div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-primary-subtle text-primary fs-3xl rounded"><i class="ti ti-wallet"></i></div>
                </div>
                <p class="fs-md text-uppercase text-muted mb-0">Total Revenue</p>

                <h4 class="my-4"><span class="counter-value" data-target="368.24">368.24</span>k </h4>
                <p class="text-success fs-sm mb-0"><i class="bi bi-arrow-up me-1"></i> 06.41% Last Month</p>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-warning-subtle text-warning fs-3xl rounded"><i class="ti ti-building-store"></i></div>
                </div>
                <p class="fs-md text-uppercase text-muted mb-0">Total Orders</p>

                <h4 class="my-4"><span class="counter-value" data-target="01.47">1.47</span>sec </h4>
                <p class="text-success fs-sm mb-0"><i class="bi bi-arrow-up me-1"></i> 13% Last Month</p>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-success-subtle text-success fs-3xl rounded"><i class="ti ti-users-group"></i></div>
                </div>
                <p class="fs-md text-uppercase text-muted mb-0">Total Customers</p>

                <h4 class="my-4"><span class="counter-value" data-target="1647">1,647</span></h4>
                <p class="text-danger fs-sm mb-0"><i class="bi bi-arrow-down me-1"></i> 07.26% Last Week</p>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="avatar-sm float-end">
                    <div class="avatar-title bg-secondary-subtle text-secondary fs-3xl rounded"><i class="ti ti-box-seam"></i></div>
                </div>
                <p class="fs-md text-uppercase text-muted mb-0">Products</p>

                <h4 class="my-4"><span class="counter-value" data-target="291.32">291.32</span>k </h4>
                <p class="text-success fs-sm mb-0"><i class="bi bi-arrow-up me-1"></i> 13% Last Month</p>
            </div>
        </div>
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <h5 class="text-decoration-underline mb-3 pb-1">Other Widgets</h5>
    </div>
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-4 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header d-flex">
                <h5 class="card-title flex-grow-1 mb-0">Upcoming Schedule</h5>
                <div class="flex-shrink-0">
                    <a href="#!" class="btn btn-subtle-info btn-sm">View More <i class="ph-caret-right align-middle"></i></a>
                </div>
            </div>
            <div class="card-body vstack gap-2">
                <div class="d-flex bg-body-secondary rounded">
                    <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                        <p class="mb-1 text-muted fs-sm">Tue, 20 Feb</p>
                        <h6 class="mb-0">09:19 PM</h6>
                    </div>
                    <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                        <h6>Marketing Policy Meetings</h6>
                        <p class="text-muted fs-sm text-truncate mb-0">This is a periodic meeting between sales and marketing aimed at ensuring initial and ongoing alignment between the two groups.</p>
                    </div>
                </div>
                <div class="d-flex bg-body-secondary rounded">
                    <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                        <p class="mb-1 text-muted fs-sm">Wed, 18 Jan</p>
                        <h6 class="mb-0">11:37 PM</h6>
                    </div>
                    <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                        <h6>Design new UI and check sales</h6>
                        <p class="text-muted fs-sm text-truncate mb-0">Designers aim to create interfaces which users find easy to use and pleasurable.</p>
                    </div>
                </div>
                <div class="d-flex bg-body-secondary rounded">
                    <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                        <p class="mb-1 text-muted fs-sm">Tue, 16 Jan</p>
                        <h6 class="mb-0">07:00 AM</h6>
                    </div>
                    <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                        <h6>Design Event banner</h6>
                        <p class="text-muted fs-sm text-truncate mb-0">Event banners are one of the many ways to use print marketing for your business.</p>
                    </div>
                </div>
                <div class="d-flex bg-body-secondary rounded">
                    <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                        <p class="mb-1 text-muted fs-sm">Tue, 12 Dec</p>
                        <h6 class="mb-0">10:57 PM</h6>
                    </div>
                    <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                        <h6>Update Review from Client</h6>
                        <p class="text-muted fs-sm text-truncate mb-0">Contact your unhappy customer and be personable. Use their first name and apologize as necessary.</p>
                    </div>
                </div>
                <div class="d-flex bg-body-secondary rounded">
                    <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                        <p class="mb-1 text-muted fs-sm">Tue, 08 Nov</p>
                        <h6 class="mb-0">11:32 AM</h6>
                    </div>
                    <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                        <h6>Ecommerce Menu Dashboard</h6>
                        <p class="text-muted fs-sm text-truncate mb-0">Ecommerce dashboards aggregate the most important performance metrics, so online sellers can track their progress and quickly respond to any changes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-4 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">New Customers</h4>
                <a href="#!" class="flex-shrink-0 fs-md">View All <i class="ri-arrow-right-line align-bottom ms-1"></i></a>
            </div><!-- end card header -->

            <div data-simplebar style="max-height: 380px;">
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-2.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Tommy Carey</h6>
                            <p class="fs-13 text-muted mb-0">02 Jan, 2023</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:careytommy@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-1.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Cassius Brock</h6>
                            <p class="fs-13 text-muted mb-0">24 Nov, 2022</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:brock@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-3.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Gabrielle Holden</h6>
                            <p class="fs-13 text-muted mb-0">17 Nav, 2022</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:gabrielle@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-5.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Alfred Hurst</h6>
                            <p class="fs-13 text-muted mb-0">18 Dec, 2021</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-6.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Kristina Hooper</h6>
                            <p class="fs-13 text-muted mb-0">04 Oct, 2022</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:alfredH@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-8.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Jacques Leon</h6>
                            <p class="fs-13 text-muted mb-0">02 Jan, 2023</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:jacques@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-7.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Edward Rogers</h6>
                            <p class="fs-13 mb-0">25 Nov, 2022</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:edwardro@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="~/assets/images/users/avatar-10.jpg" alt="" class="rounded avatar-sm">
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-1">Alina Holland</h6>
                            <p class="fs-13 mb-0">11 Jan, 2023</p>
                        </div>
                        <div class="flex-shrink-0">
                            <a href="mailto:hollandalina@toner.com" class="btn btn-icon btn-sm btn-subtle-info"><i class="ph-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .card-->
    </div><!--end col-->
    <div class="col-xxl-4">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Top Products</h4>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted">Report<i class="ti ti-chevron-down ms-1"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Download Report</a>
                            <a class="dropdown-item" href="#">Export</a>
                            <a class="dropdown-item" href="#">Import</a>
                        </div>
                    </div>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="mb-4">
                    <span class="badge bg-dark-subtle text-body float-end">90%</span>
                    <h6 class="mb-2">Fashion & Clothing</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 90%"></div>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="badge bg-dark-subtle text-body float-end">64%</span>
                    <h6 class="mb-2">Lighting</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 64%"></div>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="badge bg-dark-subtle text-body float-end">77%</span>
                    <h6 class="mb-2">Footwear</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 77%"></div>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="badge bg-dark-subtle text-body float-end">53%</span>
                    <h6 class="mb-2">Electronics</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 53%"></div>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="badge bg-dark-subtle text-body float-end">81%</span>
                    <h6 class="mb-2">Beauty & Personal Care</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 81%"></div>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="badge bg-dark-subtle text-body float-end">96%</span>
                    <h6 class="mb-2">Books</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-secondary bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 96%"></div>
                    </div>
                </div>
                <div>
                    <span class="badge bg-dark-subtle text-body float-end">69%</span>
                    <h6 class="mb-2">Furniture</h6>
                    <div class="progress progress-sm" role="progressbar" aria-label="Success example" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success bg-opacity-50 progress-bar-striped progress-bar-animated" style="width: 69%"></div>
                    </div>
                </div>
            </div>
        </div> <!-- .card-->
    </div><!--end col-->
</div><!--end col-->

<div class="row">
    <div class="col-12">
        <h5 class="text-decoration-underline mb-3 mt-2 pb-3">Chart & Map Widgets</h5>
    </div>
</div>
<!-- end row-->

<div class="row">
    <div class="col-xxl-4 col-lg-6">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Product Overview</h6>
                <div class="dropdown flex-shrink-0">
                    <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted fs-lg"><i class="ti ti-dots align-middle"></i></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Today</a>
                        <a class="dropdown-item" href="#">Last Week</a>
                        <a class="dropdown-item" href="#">Last Month</a>
                        <a class="dropdown-item" href="#">Current Year</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="column_stacked_chart" data-colors='["--tb-primary", "--tb-success"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div><!--end col-->

    <div class="col-xxl-4 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Sales Per Week</h6>
                <div class="flex-shrink-0">
                    <a class="btn btn-subtle-secondary btn-sm" href="#!">
                        View More <i class="ti ti-arrow-narrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="shades_heatmap" data-colors='["--tb-info-rgb, 0.7", "--tb-info-rgb, 0.35"]' class="apex-charts ms-n3" dir="ltr"></div>
            </div>
        </div>
    </div><!--end col-->

    <div class="col-xxl-4">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Total Leads</h6>
                <div class="dropdown card-header-dropdown flex-shrink-0">
                    <a class="text-reset dropdown-btn fs-md" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted">This Month<i class="ti ti-chevron-down ms-1"></i></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">This Month</a>
                        <a class="dropdown-item" href="#">Last Month</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="usersActivity" data-colors='["--tb-primary", "--tb-primary-rgb, 0.75"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div><!--end col-->
</div> <!-- end row-->
@section scripts{
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- list js-->
    <script src="~/assets/libs/list.js/list.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!-- Widget init -->
    <script src="~/assets/js/pages/widgets.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
 }      